"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq


:set number relativenumber
:set nu rnu
:set clipboard+=unnamed
:set hls
:set idearefactormode=keep

let mapleader = " "

nnoremap <c-f> :action GotoFile<CR> " Open file search

" Set split windows
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>
nnoremap <leader>sm :action MoveEditorToOppositeTabGroup<CR>

nnoremap <c-a> ggVGY " Select and copy everything in current buffer

" Move between split windows
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

" Paste over currently selected text without yanking it
vmap p \"_dp
vmap P \"_dp

" Indent highlighted lines
vmap < <gv
vmap > >gv

" Move highlighted lines
vnoremap <s-k> :m -2<CR>gv=gv
vnoremap <s-j> :m '>+<CR>gv=gv

" Move between buffers
map <a-.> :action NextTab<CR>
map <a-,> :action PreviousTab<CR>
map <a-x> :action CloseEditor<CR>
map <a-z> :action CloseAllEditorsButActive<CR>
" Open buffer to new window
map <leader>nn :action EditSourceInNewWindow<CR>

" Setup EasyMotion
Plug 'easymotion/vim-easymotion'
map s <Plug>(easymotion-f)
map S <Plug>(easymotion-s)

" Setup NERDTree
Plug 'preservim/nerdtree'
map <a-1> :NERDTreeFocus<CR>

" Setup Surround Plugin
Plug 'tpope/vim-surround'
" cs<old surround><new surround> Change surroundings
" ds<surround> Delete surrounding
" S<surround> Surround text object

" MultiCursor plugin
Plug 'terryma/vim-multiple-cursors'
map mc <A-n>
map mx <A-x>
map mp <A-p>

Plug 'machakann/vim-highlightedyank'
set highlightedyank
let g:highlightedyank_highlight_color = "rgba(139, 233, 253, 80)"
let g:highlightedyank_highlight_duration = "1000"
